<html>

<head>
    <meta charset="utf-8">
    <title>七色花答题页v2.0</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/rainbow_flower.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://erpcdn.itxdl.cn/dt/css/weui.min.css">
    <link rel="stylesheet" href="https://erpcdn.itxdl.cn/dt/css/jquery-weui.min.css">
    <link rel="stylesheet" href="https://erpcdn.itxdl.cn/dt/css/common.css?v=20170412">
    <link rel="stylesheet" href="https://erpcdn.itxdl.cn/dt/css/question.css">
    <script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <style>
        header, .weui-btn_primary {
            background: -webkit-linear-gradient(red, orange, yellow, green, blue, indigo, violet);
            background: -o-linear-gradient(red, orange, yellow, green, blue, indigo, violet);
            background: -moz-linear-gradient(red, orange, yellow, green, blue, indigo, violet);
            background: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
            color: #ff0000;
        }
    </style>
</head>

<body>
<header>
    <div class="weui-flex">
        <div class="weui-flex__item">兄弟连七色花答题系统v2.0</div>
    </div>
</header>
<div class="container" id="question">
    <% function isInArray(arr,value){for(var i = 0; i < arr.length; i++){if(value === arr[i]){return true;}}return false;} %>
    <form action="/answer" method="post" id="quest-form">
        <input type="hidden" name="_token" value="<%= result[result.length-2]['_token'] %>">
        <input type="hidden" name="tel" value="<%= result[result.length-2]['tel'] %>">
        <input type="hidden" name="password" value="<%= result[result.length-2]['password'] %>">
        <p style="color:#C11920;font-size:14px;">以下是未能匹配到答案或匹配度较低的题目，请手动答题（请确认题目相符）</p>
        <% result[0].forEach(function(q, a){ %>

        <div class="box">

            <div class="weui-cells__title">
                <% for(var x in q){ %>
                <%= '原题目：' + x %>
                <br>
                <%= '查询题目：' + q[x]['hjtitle'] %>
                <br>
                <div
                        <% for(var xx in q){if(q[xx]['result']){ %>
                        <%= '' %>
                        <% }} %>
                >

                    <% if(q[x].hasOwnProperty('SCFA')){ %>
                        <p <% if(!isInArray(result[result.length-2]['tk'], '1')){ %><%= 'style=display:none' %> <% } %>>
                            <span style="font-size:15px;color:#00ff00"><%= '七色花题库查询到的答案，（供参考）:' %></span>
                            <br>
                            <% q[x]['SCFA'].forEach(function(val){ %>
                            <span style="font-size:15px;color: #00ff00;"><%= val %></span>
                            <br>
                        <% }) %>
                        </p>
                    <% } %>

                    <% if(q[x]['solution']){ %>
                    <p <% if(!isInArray(result[result.length-2]['tk'], '0')){ %><%= 'style=display:none' %> <% } %>>
                        <span style="font-size:15px;color:#C11920"><%= '小绿花题库查询到的答案，（供参考）:' %></span>
                        <br>
                        <% q[x]['solution'].forEach(function(val){ %>
                        <span style="font-size:15px;color: #C11920;"><%= val %></span>
                        <br>
                    <% }) %>
                    </p>
                    <% } %>
                </div>
                <% } %>
            </div>
            <div class="weui-cells">
                <% for(var x in q){ %>
                <% q[x]['value'].forEach(function(val, y){ %>
                <label>
                    <div class="weui-cell" style="text-align:left;">
                        <div class="weui-cell__hd">
                            <% if(q[x]['type'] == '单选题'){ %>
                            <% for(var key in val){ %>
                            <input type="radio" name="<%= q[x]['name'] %>" value="<%= key %>"
                                    <% q[x]['solution'].forEach(function(v){if(val[key] == v ){ %>
                                    <%= 'checked=checked' %>
                                    <% }}) %>
                                    <% if(q[x].hasOwnProperty('SCFA')){ %>
                                        <% q[x]['SCFA'].forEach(function(v){if(val[key] == v ){ %>
                                        <%= 'checked=checked' %>
                                    <% }})} %>
                            >
                            <% if(val['type'] == 'span'){ %>
                            <% delete val['type'] %>
                            <span style="margin-left: 5px;"><%= val[key] %></span>
                            <% } %>

                            <% if(val['type'] == 'img'){ %>
                            <% delete val['type'] %>
                            <img style="margin-left: 5px;" src="https:<%= val[key] %>"></img>
                            <% } %>

                            <% } %>
                            <% } %>
                            <% if(q[x]['type'] == '多选题'){ %>
                            <% for(var key in val){ %>
                            <input type="checkbox" name="<%= q[x]['name'] %>" value="<%= key %>"
                                    <% q[x]['solution'].forEach(function(v){if(val[key] == v ){ %>
                                    <%= 'checked=checked' %>
                                    <% }}) %>
                                    <% if(q[x].hasOwnProperty('SCFA')){ %>
                                    <% q[x]['SCFA'].forEach(function(v){if(val[key] == v ){ %>
                                    <%= 'checked=checked' %>
                                    <% }})} %>
                            >
                            <% if(val['type'] == 'span'){ %>
                            <% delete val['type'] %>
                            <span style="margin-left: 5px;"><%= val[key] %></span>
                            <% } %>

                            <% if(val['type'] == 'img'){ %>
                            <% delete val['type'] %>
                            <img style="margin-left: 5px;" src="https:<%= val[key] %>"></img>
                            <% } %>

                            <% } %>
                            <% } %>
                            <br>
                        </div>
                    </div>
                </label>
                <% }) %>
                <% } %>
            </div>
        </div>
        <% }) %>
        <br>
        <input id="sub" type="submit" value="提交" class="weui-btn weui-btn_primary">
    </form>
</div>

</body>


</html>